body{
    margin: 0px;
    padding: 0px;
}

main{
    padding: 16px;
}

footer{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

img{
    height: 200px;
}

nav{
    border-color: black;
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    padding: 16px;
}
